.listingDetailContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}